/* Players Pages styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f5f6; /* Unique background color */
}

.container {
    background: rgb(8, 164, 148);
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    height: 600px;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.back-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.search-box {
    position: relative;
    flex-grow: 1;
}

.search-box input {
    width: 50%;
    padding: 10px;
    border: 1px solid #3b3535;
    border-radius: 4px;
    padding-left: 10px;
}

.search-icon {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

h2 {
    margin-bottom: 20px;
    color: antiquewhite;
    font-size: 35px;
}

.player-list {
    height: 400px;
    overflow-y: auto;
}

.player {
    display: flex;
    align-items: center;
 
}

.player-image-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 20px;
}

.player-info {
    flex-grow: 1;
    font-size: 35px;
    color: antiquewhite;
    
}

.forward-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.scroll-bar {
    position: absolute;
    right: 0;
    top: 100px;
    bottom: 80px;
    width: 10px;
    background: #eee;
    border-radius: 5px;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.navigation a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ccc;
}

.nav-footer {
    display: flex;
    justify-content: center;
    gap: 15em;
    padding: 1em;
    background-color: #13349e;
    border-top: 1px solid #ddd;
}

.nav-footer a {
    text-decoration: none;
}

.nav-footer img {
    width: 50px;
    height: 50px;
}

.active-nav img {
    background-color:  #004d40;
    padding: 5px;
    border-radius: 5px;
}


.nav-footer a:hover {
    background-color: aqua;
}